<!doctype html>
  
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ page_title }}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}</title>

    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    {{ content_for_header }}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --color-background: {{ settings.color_schemes.scheme-1.settings.background }};
        --color-text: {{ settings.color_schemes.scheme-1.settings.text }};
        --color-button: {{ settings.color_schemes.scheme-1.settings.button }};
        --color-button-text: {{ settings.color_schemes.scheme-1.settings.button_label }};
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
      }

      body {
        margin: 0;
        font-size: 1.6rem;
        font-family: var(--font-body-family);
        background: var(--color-background);
        color: var(--color-text);
      }
    {% endstyle %}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'animations.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'gsap.min.js' | asset_url }}" defer></script>
  </head>

  <body>
    {% sections 'header-group' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
